@import url(../utilities/root.css);
@media only screen and (min-width: 768px){
	.wrapper{
		width: 60%;
	}
	.icon-alt{
		width: 150px;
		height: 70px;
	}
}
/* large */
@media only screen and (min-width: 992px){
	nav.navbar{
		transform: translateY(0);
		background-color: transparent;
		box-shadow: 0 0 0 transparent;
	}
	.alternative-line::after, .alternative-line::before{
		width: 100%;
	}
	.alternative-line::before{
		left: -120%;
	}
	.alternative-line::after{
		right: -120%;
	}
	.dark-mode .navbar{
		background-color: transparent;
	}
}
/* extra large */
@media only screen and (min-width: 1200px){
	.wrapper{
		width: 70%;
	}
}
/* extra extra large */
@media only screen and (min-width: 1400px) {
	.wrapper{
		width: 50%;
	}
}